access=restricted

; INSTALL PREFIX FOR DEPENDENCIES (more stable for production use than ^!)
save-prefix=~

; ASSETS PATHS
ASSETS=assets/
ASSETS_SASS=assets/sass
ASSETS_SASS_APP=assets/sass/app.scss
ASSETS_JS=assets/js
ASSETS_PUG=assets/pug
ASSETS_IMG=assets/img

; DIST PATHS
DIST=dist/
DIST_CSS=dist/css
DIST_JS=dist/js
DIST_IMG=dist/img
